In [2]:
import pandas as pd

In [9]:
data = {
    'col1': [1, 2, 3],
    'col2': [4, 5, 6],
    'col3': ['a', 'b', 'c']
}

In [10]:
df = pd.DataFrame(data=data)

In [11]:
df.head()

   col1  col2 col3
0     1     4    a
1     2     5    b
2     3     6    c

In [12]:
df.dtypes

col1     int64
col2     int64
col3    object
dtype: object

In [19]:
persons_df = pd.read_csv('persons.csv')

In [20]:
persons_df.head()

  First Name  Last Name   Age
0      Alice    Larsson  23.0
1        Bob   Svensson  44.0
2       Carl    Nilsson  67.0
3      David  Andersson   NaN
4       Erik        NaN  45.0

In [22]:
persons_df[persons_df['Age'].isna()]

  First Name  Last Name  Age
3      David  Andersson  NaN

In [24]:
persons_df[persons_df.isna().any(axis=1)]

  First Name  Last Name   Age
3      David  Andersson   NaN
4       Erik        NaN  45.0